@{
    ViewBag.Title = "CarForSale";
}

<div class="row">
    <div class="col-md-3 ml-0 mb-3">

    </div>
    <div class="container col-md-6">
        Under Development Phase
    </div>
    <div class="col-md-3 mr-0 mb-3">

    </div>
</div>
