<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Business</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="~/css/Register.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    </environment>
    <environment include="Staging,Production,Development">
        <link rel="stylesheet"
              crossorigin="anonymous"
              href="https://sstackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
              asp-fallback-href="~/lib/font-awesome/css/fontawesome.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-top">
        @*<div class="I-flag">
                <img class="imf-flag" src="~/images/india.png" />
            </div>
            <div class="U-flag">
                <img class="imf-flag" src="~/images/us.jpg" />
            </div>*@
        BusinessSuite
    </div>

    <header class="header" id="myHeader">
    </header>


    
    @*<div class="container" border border-light p-3 mb-4">
        <main role="main" class="pb-3">*@
            @RenderBody()
        @*</main>
    </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BusinessPoint - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <environment include="Development,Production,staging">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
