<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Business</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-top">
        <div class="I-flag">
            <img class="imf-flag" src="~/images/india.png" />
        </div>
        <div class="U-flag">
            <img class="imf-flag" src="~/images/us.jpg" />
        </div>
        BusinessPoint
    </div>

    <header class="header" id="myHeader">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav">
                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Auto-Mobile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @*<a class="dropdown-item" asp-controller="AutoMobile" asp-action="Alltwowheel">Two  Wheel</a>*@
                                <a class="dropdown-item" asp-controller="AutoMobile" asp-action="CarInSale">Car</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="AutoMobile" asp-action="SaleYourVehicle">Sale Yours</a>

                            </div>
                        </li>
                        @*<li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Job</a>
                            </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Business
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Business" asp-action="BusinessInsale">In-Sale</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Business" asp-action="SaleYourBusiness">Sale-Your Business</a>


                            </div>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Stay
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  asp-area="UsRegion" asp-controller="Stay" asp-action="Motel">Motel</a>
                                <a class="dropdown-item" asp-area="UsRegion" asp-controller="Stay" asp-action="AvailableRoom">Room</a>
                                <a class="dropdown-item" asp-area="UsRegion" asp-controller="Stay" asp-action="SahredRoom">SharedRoom</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="UsRegion" asp-controller="Stay" asp-action="AddavilableRoom">Post Room</a>
                                <a class="dropdown-item" asp-area="UsRegion" asp-controller="Stay" asp-action="PostRequirement">What Your Looking</a>

                            </div>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Post
                                </a>

                            </li>*@
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signinManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="account" asp-action="logout">
                                    <button type="submit" style="width:auto"
                                            class="nav-link btn btn-link py-0">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="account" asp-action="register" asp-route-AreaName=@ViewBag.Area>
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="account" asp-action="login" asp-route-AreaName=@ViewBag.Area>
                                    login
                                </a>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="border:1px solid ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - UsBusiness-Sale And Buy - <a asp-area="" asp-controller="" asp-action=""></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
