
@model IndiaCar
@{
    ViewBag.Title = "Car-Inventory";
}
<div class="row">
    <div class="mb-5 col-lg-2">
        <main role="main">

        </main>
    </div>

    <div class="container border border-dark p-3 mb-5 col-lg-8 col-sm-12">
        <main role="main" class="pb-3">
            Currntly Working On this side Please stay Connected
        </main>
    </div>
    <div class="mb-5 col-lg-2">
        <main role="main">

        </main>
    </div>
</div>