@*@model IndiaCar
@
@{
    ViewBag.Title = "Car-SaleForm";
}
<h1>Fill Detail For Your Car</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" readonly class="form-control" />    
             </div>
            <div class="form-group">               
                    <label asp-for="DemagePart"></label>
                    <input asp-for="DemagePart" readonly class="form-control"/>
                    <span asp-validation-for="DemagePart" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>            

              
            <div class="form-group">
                <label asp-for="PhoneNo"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesAddress"></label>
                <input asp-for="ServicesAddress" class="form-control" />
                <span asp-validation-for="ServicesAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesDescription"></label>
                <input asp-for="ServicesDescription" class="form-control" />
                <span asp-validation-for="ServicesDescription" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>*@