@{
    ViewBag.Title = "Water Purifier Inventory";
    ViewBag.Area = ViewBag.Area;
}


<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="container col-lg-8">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="~/images/RO/auquifina.jpg" asp-append-version="true" class="imageTumbnailForauqufine" />
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="crad">
                    <div class="card-header">
                        <h1 class="text-danger"> Aquafina Water Purifier Rs:1000</h1>
                    </div>
                </div>
                <div class="card-body">
<pre>
This Is one model we have right now available
this machine Make  water clean at 0 ph level for material from water 
water material ph level:0 index
</pre>
                </div>
                <div class="card-footer">
                    Call Us for more detail on +91 9106347244
                    <a asp-action="ServiceInquiry" asp-controller="Electronics" asp-area="indiaRegion">Inquiry</a>
                </div>
            </div>
          

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                
                <img src="~/images/RO/gas-geyser-500x500.jpeg" asp-append-version="true" class="imageTumbnailForauqufine" />
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="crad">
                    <div class="card-header">
                        <h1 class="text-danger"> 6 Litre  Geyser Opera Rs:2,800</h1>
                    </div>
                </div>
                <div class="card-body">
<pre>
This Is one model we have right now available
this  Geyser store 6 litre Of hot water 
Operate on Gas 
Energy Rating 4 Star 
</pre>
                </div>
                <div class="card-footer">
                    Call Us for more detail on +91 9106347244
                    <a asp-action="ServiceInquiry" asp-controller="Electronics" asp-area="indiaRegion">Inquiry</a>
                </div>
            </div>
            

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="~/images/RO/auquifina.jpg" asp-append-version="true" class="imageTumbnailForauqufine" />
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="crad">
                    <div class="card-header">
                        <h1 class="text-danger"> 6 Litre  Geyser Opera Rs:2,800</h1>
                    </div>
                </div>
                <div class="card-body">
<pre>
This Is one model we have right now available
this  Geyser store 6 litre Of hot water 
Operate on Gas 
Energy Rating 4 Star 
</pre>
                </div>
                <div class="card-footer">
                    Call Us for more detail on +91 9106347244
                    <a asp-action="ServiceInquiry" asp-controller="Electronics" asp-area="indiaRegion">Inquiry</a>
                </div>
            </div>
           
        </div>


    </div>
    <div class="col-lg-2">

    </div>
</div>
