@{
    ViewBag.Title = "SerVices-Offered";
    ViewBag.Area = ViewBag.Area;
}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="container col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3>Available Services</h3>
                <h6>(Note) Servic available only surrounding gandhinagar area like pathepur ,randehja ,gandhinagar,and ahmedabad</h6>
            </div>
            <div class="card-body">
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">New Installtion of water purifier</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Installation Of air Condinator </div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Installation Of new gas heater for water</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Installation Of new gas heater for water</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Provide Maintenance services for purifier ,gas heater</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Earth grounding From Main Line</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Coil binding for fan</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Mobile Phone reparing</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Also Sell good and material</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">House Lighting and decoration</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Wood Temple decoration</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Also take contract for new construction site </div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Also take contract for new houses </div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Also take contract for reconstruction for electric services</div>
                <div class="col-sm-12 col-md-12 h4 border border-light p-3 mb-0">Sell Water Purifier and also provide maintenance for that</div>
                <div>
                </div>
            </div>
            <div class="card-footer">
                <pre class="h6 text-right">
        Gaytri Electrical Randheja ,382620
                          Dinesh   R  Patel
        Services Point Contact No->+91 9106347244
        Also Available At
        secotr 26 Gidc
        </pre>
            </div>

        </div>
    </div>
    <div class="col-lg-3">

    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}