@{
    ViewBag.Title = "india";
    TempData["Area"] = ViewBag.Area;
    ViewBag.Area = "indiaRegion";
}

<div class="row">
    <div class="mb-5  col-md-1 d-none d-md-block">
        <main role="main">

        </main>
    </div>

    <div class="container border border-dark p-3 mb-5 col-md-10">
        <div class="row">
            @*<div class="col-lg-12">
                    <h2>Services Image Gallery</h2>
                </div>*@
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/MainImageForHouse.jpg" class="thumbnail">
                    <p>House</p>
                    <img src="Images/MainImageForHouse.jpg" class="img-" />
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/car.jfif" class="thumbnail">
                    <p>Car</p>
                    <img src="Images/car.jfif" />
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/reatilbusinessimage.png" class="thumbnail">
                    <p>Retail Business</p>
                    <img src="Images/reatilbusinessimage.png" />
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/Technician.jfif" class="thumbnail">
                    <p>Technical</p>
                    <img src="Images/Technician.jfif" />
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/room.jfif" class="thumbnail">
                    <p>Room</p>
                    <img src="Images/room.jfif" />
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="Images/Moto.jfif" class="thumbnail">
                    <p>MotorCycle</p>
                    <img src="Images/Moto.jfif" />
                </a>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Images/Penguins.jpg" class="thumbnail">
                        <p>Penguins</p>
                        <img src="Images/Penguins.jpg" />
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Images/Tulips.jpg" class="thumbnail">
                        <p>Tulips</p>
                        <img src="Images/Tulips.jpg" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="mb-5 col-md-1 d-none d-md-block">
        <main role="main">

        </main>
    </div>
</div>